body
        {
            margin: 50px;
            background-color: wheat;
        }
        .head
        {
            font-size: 220;
        }
        #image
        {
            border-radius: 20%;
        }
        #para1
        {
            width:40%;
            margin:5%;
           font-size: 20;
          
            float:left;
        }
        #para2
        {
            width:40%;
            margin:5%;
           font-size: 20;
            
            float:left;
        }
        #dates
        {
            width: 100%;
        }
        h1
        {
            font-family: 'Clicker Script', cursive;
            font-size: 180;
        }
        h2
        {
            font-family: 'EB Garamond', serif;
            font-size:140;
            color:gray;
        }